@import "~bootstrap/scss/bootstrap.scss";

.div{
    width: 85%;
    height: 250px;
    margin: auto;
    background-color:lightgray;
    
}

.card{
    width: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer{
    color: white;
    
}
